<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GPA</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <style>
            body {
                background-color: #fdfeec;
            }

            .header {
                display: flex;
                margin-top: 20px;
                padding-left: 20px;
            }

            .recent-search {
                width: 270px;;
            }

            .recent-section{
                height: 300px;
                border-color: black !important;
            }

            .text-muted{
                font-size: 12px;
            }

            .recent {
                display: none;
            }

            .username {
                cursor: pointer;
                font-weight: bold;

            }

            .fa-xmark {
                cursor: pointer;
                transition-delay: 0.2s;
            }

            .fa-xmark:hover {
                color: red;
            }

            .center {
                width: 800px;
                margin-left: 65px;
            }

            h2, #error {
                text-align: center;
            }

            #error{
                color: red;
            }

            form{
                display: block;
                width: 500px;
                margin: auto;
            }

            .container{
                width: 250px;
                margin: 0 auto;
            }

            input[type='submit'] {
                margin-left: auto;
                margin-top: 10px;
                width: 80px;
                border-radius: 10px;
            }

            .data-table{
                width: 800px;
                margin: auto;
            }

            .student-data{
                width: fit-content;
                margin: auto;
                display: none;
            }

            .student-results{
                display: none;
            }

            .student-data thead tr{
                border-color: #dee2e6 !important;

            }

            #switchBtn {
                display: block;
                margin-left: auto;
            }
        </style>
    </head>
    
    <body >
        <div class="header">
            <div class="left recent-search">
                <div class="recent-section rounded border border-3 p-3 mb-2">
                    <h3>Recent Search</h3>
                    <span class="text-muted">click on student id to fill form automatically</span>
                    <table class="table table-borderless recent" data-key="recentSearch">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Student ID</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
                <div class="alert alert-danger">
                    All data in the Recent Search and Result tables is stored locally in your browser. We do not save any of your data.
                </div>
            </div>
           

            <div class="center form-section">
                <h2>GPA Grabber</h2>
                <h3 id="error">{{ error }}</h3>
                <form action="/results" method="post">
                    {% csrf_token %}
                    <div class="container">

                        {% for field in form %}
                            <div class="form-group mb-3">
                                {{ field.label }}
                                {{ field }}
                            </div>
                        {% endfor %}
                        <!-- <div class="form-group mb-3">
                            <input type="checkbox" class="form-check-input" name="saveLocal" id="saveLocal">
                            <label for="saveLocal" class="form-check-label">Save Results</label>
                        </div> -->
                        <div class="form-group mb-3">
                            <input class="btn btn-primary" type="submit" value="Get">
                        </div>

                    </div>
                </form>
            </div>
        </div>

        <div class="data-table">
            <button class="btn btn-info" id="switchBtn" data-current="overview">Detailed Grades</button>
            <table class="table student-data mt-3" data-key="recentResult">
                <thead>
                    <tr class="student-overview">
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">GPA</th>
                        <th scope="col"></th>
                    </tr>
                    <tr class="student-results">
                        <th scope="col">Subject</th>
                        <th scope="col">Course Work</th>
                        <th scope="col">Final Grade</th>
                        <th scope="col">Total Grade</th>
                        <th scope="col">Grade Symbol</th>
                    </tr>
                </thead>
                <tbody>
                    {% if gpa_found %}
                        <tr>
                            <th scope="row" class="name">{{ ar_name }}</th>
                            <td class="email">{{ email }}</td>
                            <td class="gpa">{{ gpa }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
      

        <script>
            const RECENTSEARCH = document.querySelector(".recent")
            const RESULTSEARCH = document.querySelector(".student-data")
            const FORM = document.querySelector("form")
            const USERNAME = document.querySelector("input[name='username']")
            const PASSWORD = document.querySelector("input[name='password']")
            const SWITCH = document.querySelector("#switchBtn")
            const LIMIT = 6
            
            // on window load
            document.addEventListener("DOMContentLoaded", () => {
                displayRecent()
                saveResult()
                displayResult()
            })


            // on form submit
            FORM.addEventListener("submit", () => {
                let username = USERNAME.value
                let password = PASSWORD.value

                let data = {
                    "username" : username,
                    "password" : password
                }

                saveToLocal("recentSearch", data)
                
            })

            // on click switch btn
            SWITCH.addEventListener("click", () => {
                switchResults()
            })


            // on window refresh
            window.addEventListener('beforeunload', function (e) {
                localStorage.removeItem("grades")
            });

            // Functions

            // General Functions
            function buildEmptyRow(table, msg) {
                let headRows = [...table.querySelectorAll("thead tr")]
                let header = headRows.filter(row => {
                    return row.display != "none"
                })[0]
                let cols_length = [...header.querySelectorAll("th")].length
                let row = `
                <tr>
                    <td colspan=${cols_length} class="h3 text-center" style="padding:100px;">${msg}</td>
                <tr>`
                addRow(table, row)
            }

            function getLocalItem(key) {
                let value = localStorage.getItem(key)
                return parseJson(value)
            }

            function modifySwitchBtn(dataset, innerText) {
                SWITCH.dataset.current = dataset
                SWITCH.innerHTML = innerText
            }

            function switchResults() {
                let current =  SWITCH.dataset.current
                if (current == "overview") {
                    modifySwitchBtn("grades", "Student Overview")
                    displayGrades()

                }
                else {
                    modifySwitchBtn("overview", "Detailed Grades")
                    displayResult()

                }
                toggleHeaders()
            }

            function toggleHeaders() {
                let headers = document.querySelectorAll(".student-data thead tr")
                headers.forEach(row => {
                    let display = window.getComputedStyle(row).display
                    console.log(`Display : ${display}`)
                    if (display == "table-row"){
                        row.style.display = "none"
                    }
                    else {
                        row.style.display = "table-row"
                    }
                })
            }

            function removeRowAndUpdateStorage(key, value, row){
                let data = getLocalItem(key)
                removeValue(data, value)
                row.remove()
                return data
            }

            function removeValue(data, value) {
                let index = getIndex(data, value)
                if (index != -1){
                    data.splice(index, 1)
                }
            }

            function getUser(username) {
                let data = getLocalItem("recentSearch")
                let userData = {}
                data.forEach(user => {
                    if (user.username == username) {
                        userData = user
                    }
                })
                return userData
            }

            function saveToLocal(key, data, limit = LIMIT){
                let storedData = getLocalItem(key)
                if (storedData.length != 0) {
                    removeValue(storedData, data)
                }
                removeExceedLimit(storedData, limit)
                pushToLocal(storedData, data)
                localStorage.setItem(key, JSON.stringify(storedData))
            }

            function removeExceedLimit(storedData, limit){
                if (storedData.length == limit){
                    storedData.pop()
                }
            }

            function pushToLocal(storedData, data){
                storedData.unshift(data)
            }

            function getIndex(dataList, data){
                let returnedIndex = -1
                data  = JSON.stringify(data)
                dataList.forEach((item, index) => {
                    item = JSON.stringify(item)
                    if (item == data){
                        returnedIndex = index
                        return index
                    }
                })
                return returnedIndex
            }   

            function parseJson(data){
                let parsedData = []
                if (data) {
                    parsedData = JSON.parse(data)
                }
                return parsedData
            }

            function clearRows(table){
                table.querySelector("tbody").innerHTML = ""
            }

            function addRow(table, row){
                let tbody = table.querySelector("tbody")
                tbody.insertAdjacentHTML("beforeend", row)
            }

            function checkEmptyTable(table){
                let tbody =  table.querySelector("tbody")
                return tbody.children.length === 0
            }
                    
            function showTable(table){
                table.style.display = "block"
            }

            function hideTable(table){
                table.style.display = "none"
            }

            function displayTable(key) {
                if (key == "recentSearch"){
                    displayRecent()
                }
                else{
                    displayResult()
                }
            }

            function removeRow(key, parentRow){
                if (key == "recentSearch"){
                    return removeRecent(parentRow)
                }
                else{
                    return removeResult(parentRow)
                }
            }

            function activeRemoveBtns(table){
                let key = table.dataset.key
                let xMarks = table.querySelectorAll(".fa-xmark")
                xMarks.forEach(element => {
                    element.addEventListener("click", (e) => {
                        let parentRow = e.target.parentNode.parentNode
                        console.log(`Row : ${parentRow}`)

                        let data = removeRow(key, parentRow)
                        localStorage.setItem(key, JSON.stringify(data))
                        displayTable(key)
                        if (checkEmptyTable(table)){
                            hideTable(table)
                        }
                    })
                })
            }

            // Result Table
            function displayResult(){
                let table = RESULTSEARCH
                clearRows(table)

                let rows = getLocalItem("recentResult")
                if (rows.length != 0) {

                    showTable(table)
                    rows.forEach(row => {
                        let html = buildResultRow(row)
                        addRow(table, html)
                    })
                    activeRemoveBtns(table)
                }
            }

            function buildResultRow(student){
                return ` 
                    <tr>
                        <th scope="row" class="name">${student.name}</th>
                        <td class="email">${student.email}</td>
                        <td class="sittingNo">${student.sittingNo}</td>
                        <td class="gpa">${student.gpa}</td>
                        <td><i class="fa-solid fa-xmark"></i></td>
                    </tr>
                `
            }

            function buildResultData(row){
                console.log(row)
                let childrenList = [...row.children]
                let resultData = {}
                childrenList.forEach(element => {
                    if (element.classList.length != 0) {
                        resultData[element.classList] = element.innerHTML
                    }
                })
                return resultData
            }

            function removeResult(parentRow){
                let resultData = buildResultData(parentRow)
                let data = removeRowAndUpdateStorage("recentResult", resultData, parentRow)
                return data
            }

            function getReturnedRow(table){
                let resultRow = table.querySelector("tbody tr")
                if (resultRow?.children.length != 0){
                    return resultRow
                }
                return null 
            }

            function saveResult(){
                let table = RESULTSEARCH
                let resultRow = getReturnedRow(table)
                if (resultRow){
                    let key = table.dataset.key
                    let data = buildResultData(resultRow)
                    saveToLocal(key, data, 5)
                }
            }

            // Recent Table
            function displayRecent(){
                let table = RECENTSEARCH

                clearRows(table)
                let rows = getLocalItem("recentSearch")
                if (rows.length != 0) {
                    showTable(table)
                    rows.forEach((row, index) => {
                        let html = buildRecentRow(row, index)
                        addRow(table, html)
                    })
                    activeRemoveBtns(table)
                    loadUserData()
                }
            }

            function buildRecentRow(row, index){
                return ` 
                    <tr>
                        <th scope="row">${index}</th>
                        <td class="username">${row.username}</td>
                        <td><i class="fa-solid fa-xmark"></i></td>
                    </tr>
                `
            }

            function removeRecent(parentRow){
                let username = parentRow.querySelector(".username").innerHTML
                let user = getUser(username)
                let data = removeRowAndUpdateStorage("recentSearch", user, parentRow)
                return data
            }
            
            // Grade Table
            async function fetchGrades() {
                let grades = []
                let url = "/grades"
                // url = "https://api.jsonbin.io/v3/qs/6669f5aead19ca34f87827e6"
                await fetch(url)
                .then(response => response.json().then(data => ({"grades" : data.grades, "status_code" : response.status})))
                .then(result => {
                    if (result.status_code == 200) {
                        grades = result.grades
                        result.grades.forEach(grade => saveToLocal("grades", grade))
                    }
                    else {
                        console.log("No Grades are available right now!")
                    }
                })

                return grades
            }

            async function getGrades(){
                let grades = getLocalItem("grades")
                if (grades.length == 0){
                    grades = await fetchGrades()
                }
                return grades
            }

            async function displayGrades(){
                let table = RESULTSEARCH

                clearRows(table)
                let rows = await getGrades()
                if (rows.length != 0) {
                    showTable(table)
                    rows.forEach(row => {
                        let html = buildGradeRow(row)
                        addRow(table, html)
                    })
                }
                else {
                    buildEmptyRow(table, "No Grades are available right now!")
                }
            }

            function buildGradeRow(grade){
                console.log(grade)
                return ` 
                    <tr>
                        <td class="subject">${grade.subject}</td>
                        <td class="course-work">${grade.courseWork}</td>
                        <td class="final-grade">${grade.finalGrade}</td>
                        <td class="total-grade">${grade.total}</td>
                        <td class="symbol">${grade.symbol}</td>
                    </tr>
                `
            }

            // Form 
            function loadUserData(){
                let username = document.querySelectorAll("tbody .username")
                username.forEach(element => {
                    element.addEventListener("click", (e) => {
                        let username = e.target.innerHTML
                        let userData = getUser(username)
                        loadInFields(userData)
                    })
                })
            }

            function loadInFields(data){
                USERNAME.value = data.username 
                PASSWORD.value = data.password
            }   

        </script>

    </body>
</html>